# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out
bin

# IntelliJ
.idea
*.iml

# Eclipse
.project
.classpath
.settings

# OS
Thumbs.db
.DS_Store
